nav{
   background: #212121 !important;
  
}

.brand-logo{
    color: yellow !important;
    font-family: 'IBM Plex Mono', monospace !important;
}

ul, li,.right{
    color: #ffffff !important;
    font-family: 'Open Sans', sans-serif;
}

ul, li,  .side-nav{
    color: #212121 !important;
    font-family: 'Open Sans', sans-serif;
}

h2{
    font-family: 'Roboto Slab', serif;
    font-weight: 400 !important; 
    color: #f9f9f9 !important;
    margin-top: 90px !important;
}

h5{
    font-weight: 100 !important;
    font-family: 'Open Sans', sans-serif;
    color: #f9f9f9 !important;
    font-weight: 400 !important;
}

.light{
    color: #333333 !important;
}

.card-panel{
    height: 350px !important;
}

.card-panel:hover{
    background: yellow;
    transition: .8s;
}


h4{
    font-family: 'Roboto Slab', serif;
}
p{
    font-family: 'Open Sans', sans-serif;
}

.fa-html5{
    font-size: 5.000em !important;
}

.fa-wordpress{
    font-size: 5.000em !important;
}
.fa-wrench{
    font-size: 5.000em !important;
}


.footer, .page-footer{
    background-color :#303c42 !important; 
}

.footer-copyright{
    background: #38454b !important;
}

#contact{
    display: inline-block !important;
}

.email{
    color: white !important;
}
/* Media queries */
@media screen and (max-width: 370px){
    #maint{
        margin-left: -20px !important;
    }
}